
body, html {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

button:focus {
    outline: none;
}

#section3 {
    background: #3399ff!important;
}

#section4 {
    background: white;
}

.main > div {
    height: 100vh!important;
    width: 100vw;
}

.pressed {
    background: transparent!important;
}

.pressed span {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

/* Navbar */

.well {
	position: relative;
    overflow-x: hidden;
    height: 100vh;
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
}

.panel {
	position: relative;
    height: 100vh;
    width: 100vw;
	font-size: 10vmin;
	padding: 1em;
	box-sizing: border-box;
	color: hsla(0, 0%, 100%, .1);
    cursor: default;
    scroll-snap-align: center;
}





.panel:nth-child(1) {
    background: #3399ff;
    background: url("../img/drawing.svg") no-repeat center center, #3399ff ;
    background-size: 400% auto;
    -webkit-animation-name: backgroundEffect;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes backgroundEffect {
    0% {background-size: 300% auto }
    100% {background-size: 100% auto }
  }
.panel:nth-child(2) {
	background: rgb(255, 255, 255);
}
.panel:nth-child(3) {
	background: #3399ff;
}
.panel:nth-child(4) {
	background: #3399ff;
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    top: 0;
    font-family: Archivo Black;
}

.navbar-brand {
    font-family: Rubik;
    font-weight: 700;
    font-size: 24px;
    color: white;
    transition: color .5s ease;
}

.navbar-nav {
    transition: height 0.4s ease;
    width: fit-content;
}



.show .navbar-nav .nav-item .nav-link {
    color: #00000083!important;
}

.show .navbar-nav .active .nav-link {
    color: black!important;
}



.container .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.container .navbar-collapse .navbar-nav .active .nav-link {
    color: rgba(255, 255, 255, 1);
}

.container .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar-toggler {
    padding: 4px 8px;
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.viewing-page-4 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.viewing-page-2 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

/* END Navbar */

.page_nav_cont {
    height: 10px;
    width: 500px;
    z-index: 9999;
    bottom: 0;
    left: calc(50vw - 250px);
    margin-top: calc(50vh - 250px);
    margin-bottom: 25px;
    transition: border 0.4s ease;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
}

.page_nav_cont:hover {
    height: 30px;
}

.page_nav_cont:hover .page_nav_sect {
    height: 20px;
    padding-top: 25px;
    margin-top: -25px;
}

.page_nav {
    height: 100%;
    max-width: 125px;
    margin: 0;
    display: block;
    background: white;
    clear: both;
    transition: margin-left 0.4s ease;
    margin-bottom: -17px;
}

.page_nav_sect {
    width: 25%;
    height: 80%;
    display: inline-block;
    margin: 0;
    margin-right: -1%;
}

.page_nav_sect:nth-child(1) {
    margin-left: 1px;
}



/* MASTHEAD */

.masthead {
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0);
}

.masthead .mastcontent {
    padding: 25px;
    font-family: Roboto;
    color: white!important;
    width: fit-content;
    text-align: center;
}
.mastcontent h1 {
    font-size: 8rem;
    font-family: 'Tinos', serif;
    font-style: italic;
    font-weight: 900;
}

.mastcontent h3 {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.mastcontent .btn {
    font-family: Archivo Black;
    font-weight: 300;
    transition: background 0.2s ease;
}

.mastcontent .btn:hover {
    top: -5px;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.bottomRightIcons {
    margin-top: -145px;
    padding-right: 60px;
}

/* END MASTHEAD */

.content {
    height: 800px;
    background: white;
    width: 100%;
    color: black;
}

.content p {
    font-size: 1.2rem;
    font-family: Rubik;
}

.siteSmallImg {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: transform .2s ease-out;
}

.siteSmallImg:hover {
    -webkit-filter: none;
    /* Safari 6.0 - 9.0 */
    filter: none;
    transform: scale(1.3);
    cursor: pointer;
}

.siteSmallRow {
    height: 120px;
}

.table_align {
    display: table;
}

.table_align .content {
    display: table-cell;
    vertical-align: middle;
}

.bigText {
    margin-bottom: 25px;
    font-size: 64px;
    font-family: Tinos;
    font-weight: bolder;
    text-align: center;
}

.contact_row {
    display: table;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-weight: bold;
    margin: 0 auto;
}

.contact_row .col-12-md {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.bubble {
    font-family: Archivo Black;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 25px;
    border-radius: 50px;
    background: #287acc;
    color: white;
}

#contact_text {
    font-size: 30px;
    margin-bottom: 10px;
}

.swipe_icon {
    display: none;
    margin-top: 0;
    transition: margin-top 2s ease;
}

.active .swipe_icon {
    margin-top: -150px;
}

.contact_window {
    padding: 25px;
    border-radius: 10px;
    background: #3399ff;
    color: white;
    width: 400px;
    min-width: 360px;
    margin: 0 auto;
    font-family: Rubik;
    -webkit-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.2);
}

.contact_window a {
    text-decoration: none;
    color: white;
}

.window {
    padding: 25px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 100%);
    background: -webkit-linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 100%);
    background: linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(231, 231, 231, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e7e7e7", GradientType=1);
    padding-top: 35px;
    font-family: Exo;
    border-radius: 10px;
    -webkit-box-shadow: 50px 50px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 50px 50px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 50px 50px 0px 0px rgba(0, 0, 0, 0.2);
}

#work_top {
    width: fit-content;
    padding: 10px 25px;
    background: #287acc;
    color: white;
    border-radius: 10px;
    font-family: Archivo Black;
    text-align: center;
    border-radius: 70px;
}

#work_top h1 {
    margin: 0!important;
    font-size: 28px;
}

.work_main {
    -webkit-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.2);
    transition: margin 1s ease;
    margin-top: 15px;
    height: 500px;
    width: 70vw;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid #287acc;
    position: absolute;
}

.tr2 {
    width: 0;
    height: 0;
    margin-left: 130px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid #287acc;
    position: absolute;
}

.collapsing {
    position: relative;
    height: 0;
}

@media (min-width: 576px) {}

@media screen and (max-width: 991px) {
    .work_main {
        height: 60vh;
    }
    .mastcontent h1 {
        font-size: 40px;
    }
    .navbar-nav {
        width: 100%;
        height: 100%;
        margin-top: 25px;
        text-align: center;
        padding: 25px;
        height: 80vh;
        padding-top: 25vh;
        background: rgba(255, 255, 255, 1);
        color: black!important;
    }
    .page_nav_cont {
        height: 60vh;
        width: 10px;
        z-index: 9999;
        right: 10px;
        top: 20vh;
        left: auto;
        margin: 0;
        transition: height 0.4s ease;
        cursor: pointer;
        border-radius: 10px;
        border-width: 1px;
    }
    .page_nav_cont:hover {
        height: 60vh;
    }
    .page_nav_cont:hover .page_nav {
        margin-right: -30px;
    }
    .page_nav {
        height: 15vh;
        width: 100%;
        margin: 0;
        display: block;
    }
    .page_nav_sect {
        width: 80%;
        height: 25%;
        display: inline-block;
        margin: 0;
        margin-bottom: -1%;
        transition: width 0.2s ease;
    }
    .two {
        border-color: black;
    }
    .four {
        border-color: black;
    }
    .two .page_nav {
        margin-top: 15vh;
        margin-left: 0;
        background: black;
    }
    .three .page_nav {
        margin-top: 30vh;
        margin-left: 0;
    }
    .four .page_nav {
        background: black;
        margin-left: 0;
        margin-top: 44.7vh;
    }
    .masthead .mastcontent {
        box-shadow: none!important;
        margin-top: calc(50vh - 200px)!important;
    }
    .masthead .mastcontent:hover {
        margin-top: calc(50vh - 200px)!important;
    }
    #work_top {
        margin: 0 auto!important;
    }
    .bottomRightIcons img {
        height: 80px;
        width: 80px;
    }
    .bottomRightIcons {
        padding-right: 30px;
        margin-top: -125px;
    }
    .btn {
        display: none;
    }
    .bottomRightIcons {
        display: none;
    }
    .swipe_icon {
        display: block;
    }
    .contact_window {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .masthead .mastcontent {
        width: 80vw;
        height: 30vh;
        margin-top: auto!important;
        padding: 25px;
        padding-top: 10vh;
        background-size: 50px;
    }
    .masthead .mastcontent:hover {
        margin-top: auto!important;
    }
    .mastcontent h1 {
        font-size: 32px;
    }
    .mastcontent h3 {
        font-size: 16px;
    }
    .bigText {
        font-size: 40px;
        margin-top: 20vh;
    }
}

@media (min-width: 1200px) {}