@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$navbackground: #e8e8e8;
$background: #171717;
$red: #DE2F2F;
$blue: #21d0d0;
body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", serif;
    background: $background;
    overflow-x: hidden;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: $navbackground;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 999;
    transition: transform 250ms;
    border-radius: 20px;
}


html,
* {
    cursor: none;
}

a {
    text-decoration: none;
    color: black;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

nav {
    width: 100vw;
    position: fixed;
    height: 100px;
    background: $navbackground;
    transition: 500ms ease;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    z-index: 99;
    .navContainer {
        height: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding-left: 96px;
        padding-right: 96px;
        transition: max-width 500ms ease;

        .navigation {
            padding: 0;
            display: none;
            position: absolute;
            top: 8em;
            right: 100px;
            list-style: none;
            li {
                position: relative;
                overflow: hidden;
                padding: 10px 15px;
                padding-right: 200px;
                margin-right: -100px;

                &:hover {
                    background: $red;
                    a {
                        color: $blue;
                    }
                }
            }
            a {
                font-weight: bold;
                font-size: 24px;
                color: rgba($color: #000000, $alpha: 1);
            }
            .active {
                background: $blue;
                a {
                    color: $red;
                }
            }
        }

        .brand {
            height: 100px;
            width: fit-content;
            float: left;
            .vertAlign {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

            img {
                vertical-align: middle;
                max-height: 25px;
            }
        }

        .menu {
            height: 100px;
            width: 100px;
            float: right;
            transition: opacity 250ms ease;
            svg {
                display: block;
                margin: 0 auto;
                margin-top: 25px;
            }
        }

        .page {
            max-height: 100%;
            width: fit-content;
            float: right;
            
            .currentPage {
                line-height: 100px;
                text-align: right;
                font-size: 24px;
                font-weight: bold;
                color: $background;
            }
        }
    }
}

.shape {
    height: 535px;
    width: 535px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

.circle {
    height: 2000px;
    width: 2000px;
    background: rgb(30, 30, 228);
    border-radius: 535px;
    text-align: center;
    .arrow {
        position: absolute;
        bottom: -100px;
        color: $navbackground;
        left: 50%;
        transform: translateX(-50%);
        font-size: 96px;
    }
}

.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

footer {
    width: 100vw;
    height: 35px;
    opacity: .5;
    position: fixed;
    bottom: 0;
    .footerContainer {
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        color: white;
        padding: 8px;
    }
}

.open {
    height: 50vh;
    clip-path: polygon(100% 0, 100% 100%, 0 20%, 0 0);
    .navContainer {
        
        .navigation {
            display: block;
        }
        .page {
            opacity: 0;
            transition: opacity 250ms ease;
        }
        .menu {
            opacity: 1;
        }
    }
}

section {
    padding-top: 100px;
    height: 100vh;
    width: 100vw;
    background: $background;
    position: relative;
    h1 {
        font-size: 72px;
        font-family: 'Anton';
        color: $red;
        line-height: 108%;
        letter-spacing: 0.01em;
        font-weight: normal;
        margin: 0;
    }
}

.container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
}

.t1 {
    max-width: 405px;
    h1 {
        margin-top: 215px;
        font-size: 96px;
    }
}

.t2 {
    max-width: 395px;
    margin-right: 0;
    margin-left: auto;
    h1 {
        color: $blue;
        text-align: right;
    }
}

// Everything under 960px
@media only screen and (max-width: 960px) {
    .navContainer {
        padding-left: 25px !important;
        padding-right: 0 !important;
    }
    .open {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);

        .navigation {
            float: none !important;
        }
    }
    .shape {
        height: 200px;
        width: 200px;
    }
    section{
        .container {
            padding-left: 15px;
            padding-right: 15px;


            h1{
                font-size: 54px;
            }
        }
        
    }
}

@keyframes menuOpen {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        display: block;
        margin: 0 auto;
    }
    100% {
        opacity: 1;
        font-size: 32px;
        float: none !important;
        margin: 0 auto;
    }
}
