@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
  background: #171717;
  overflow-x: hidden; }

.disable-hover,
.disable-hover * {
  pointer-events: none !important; }

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #e8e8e8;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 999;
  transition: transform 250ms;
  border-radius: 20px; }

html,
* {
  cursor: none; }

a {
  text-decoration: none;
  color: black; }

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6; }

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6; }

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6; }

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6; }

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6; }

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6; }

nav {
  width: 100vw;
  position: fixed;
  height: 100px;
  background: #e8e8e8;
  transition: 500ms ease;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  z-index: 99; }
  nav .navContainer {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 96px;
    padding-right: 96px;
    transition: max-width 500ms ease; }
    nav .navContainer .navigation {
      padding: 0;
      display: none;
      position: absolute;
      top: 8em;
      right: 100px;
      list-style: none; }
      nav .navContainer .navigation li {
        position: relative;
        overflow: hidden;
        padding: 10px 15px;
        padding-right: 200px;
        margin-right: -100px; }
        nav .navContainer .navigation li:hover {
          background: #DE2F2F; }
          nav .navContainer .navigation li:hover a {
            color: #21d0d0; }
      nav .navContainer .navigation a {
        font-weight: bold;
        font-size: 24px;
        color: black; }
      nav .navContainer .navigation .active {
        background: #21d0d0; }
        nav .navContainer .navigation .active a {
          color: #DE2F2F; }
    nav .navContainer .brand {
      height: 100px;
      width: fit-content;
      float: left; }
      nav .navContainer .brand .vertAlign {
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      nav .navContainer .brand img {
        vertical-align: middle;
        max-height: 25px; }
    nav .navContainer .menu {
      height: 100px;
      width: 100px;
      float: right;
      transition: opacity 250ms ease; }
      nav .navContainer .menu svg {
        display: block;
        margin: 0 auto;
        margin-top: 25px; }
    nav .navContainer .page {
      max-height: 100%;
      width: fit-content;
      float: right; }
      nav .navContainer .page .currentPage {
        line-height: 100px;
        text-align: right;
        font-size: 24px;
        font-weight: bold;
        color: #171717; }

.shape {
  height: 535px;
  width: 535px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference; }

.circle {
  height: 2000px;
  width: 2000px;
  background: #1e1ee4;
  border-radius: 535px;
  text-align: center; }
  .circle .arrow {
    position: absolute;
    bottom: -100px;
    color: #e8e8e8;
    left: 50%;
    transform: translateX(-50%);
    font-size: 96px; }

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); }

footer {
  width: 100vw;
  height: 35px;
  opacity: .5;
  position: fixed;
  bottom: 0; }
  footer .footerContainer {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 8px; }

.open {
  height: 50vh;
  clip-path: polygon(100% 0, 100% 100%, 0 20%, 0 0); }
  .open .navContainer .navigation {
    display: block; }
  .open .navContainer .page {
    opacity: 0;
    transition: opacity 250ms ease; }
  .open .navContainer .menu {
    opacity: 1; }

section {
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
  background: #171717;
  position: relative; }
  section h1 {
    font-size: 72px;
    font-family: 'Anton';
    color: #DE2F2F;
    line-height: 108%;
    letter-spacing: 0.01em;
    font-weight: normal;
    margin: 0; }

.container {
  max-width: 900px;
  height: 100%;
  margin: 0 auto; }

.t1 {
  max-width: 405px; }
  .t1 h1 {
    margin-top: 215px;
    font-size: 96px; }

.t2 {
  max-width: 395px;
  margin-right: 0;
  margin-left: auto; }
  .t2 h1 {
    color: #21d0d0;
    text-align: right; }

@media only screen and (max-width: 960px) {
  .navContainer {
    padding-left: 25px !important;
    padding-right: 0 !important; }

  .open {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0); }
    .open .navigation {
      float: none !important; }

  .shape {
    height: 200px;
    width: 200px; }

  section .container {
    padding-left: 15px;
    padding-right: 15px; }
    section .container h1 {
      font-size: 54px; } }
@keyframes menuOpen {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    display: block;
    margin: 0 auto; }
  100% {
    opacity: 1;
    font-size: 32px;
    float: none !important;
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
