---

layout: default
title: Contact
header_title: CONTACT US
number: 5
---
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
          <img height="50" src="img/logo_medium.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">HOME
            </a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCTS</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="sheds">SHEDS</a>
              <a class="dropdown-item" href="tanks">TANKS</a>
            </div>
            </div>
          </li>
          <li class="nav-item ">
            <div class="dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">SERVICES</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="hireage">HIREAGE
              </a>
              
            </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="staff">STAFF</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% include pages_header.html %}
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.5732558727736!2d174.9466563341556!3d-37.257831263591726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4dddfcae4a73%3A0xc928603e7218cf34!2sTuakau%20ITM!5e0!3m2!1sen!2snz!4v1602395188353!5m2!1sen!2snz" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  <!-- Page Content -->
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-8 my-auto section">
        <h4>Give Our Friendly Staff a Call or Come See Us In Store</h4>
        <hr>
        <address>
          27 Liverpool Street 
          <br>Tuakau 2121
          <br>
        </address>
        <address>
          <a title="Phone"> Phone:</a>
          (09) 236 8226
          <br>
          <a title="Email">Email:</a>
          <a href="mailto:sales@tuakauitm.co.nz">sales@tuakauitm.co.nz</a></address>
          <br><br>

      </div>
      <div class="col-md-4 dark-side-panel">
        {% include opening_hours.html %}
      </div>
    </div>
    
    <!-- /.row -->
    <!-- /.row -->
    </div>
    {% include footer.html %}
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

