---
layout: default
title: Hireage
header_title: HIREAGE
number: 3
---
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img height="50" src="img/logo_medium.jpg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME
          </a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">PRODUCTS</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="sheds">SHEDS</a>
              <a class="dropdown-item" href="tanks">TANKS</a>
            </div>
          </div>
        </li>
        <li class="nav-item active">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">SERVICES</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item active" href="#">HIREAGE
                <span class="sr-only">(current)</span>
              </a>

            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="staff">STAFF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% include pages_header.html %}

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-md-8 mb-5 section">
      <div class="row">
        <div class="col-sm">
          <img src="https://www.itm.co.nz/images/Subsites/Tuakau/Tuakau_Trailer_2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-sm">
          <img src="https://www.itm.co.nz/images/Subsites/Tuakau/Tuakau_Trailer_1.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <br>
      <p>At Tuakau ITM we have loan trailers available so you can transport your supplies from our yard to your job
        site or property! </p><p> We have different loan trailer options available, just in get in touch with us today to see
        what’s available and how we can assist you.</p>

        <button href="contact.html" class="contentButton">Contact Us</button>
    </div>
    <div class="col-md-4 mb-5 dark-side-panel my-auto">

      <h4>Our Range</h4>
      <ul class="list-group list-group-flush text-center align-items-center" style="max-width: 18rem;margin: 0 auto;">
        <li class="list-group-item">6x4 trailer</li>
        <li class="list-group-item">8x4 tip trailer</li>
        <li class="list-group-item">8x4 std trailer</li>
        <li class="list-group-item">9x4 std trailer</li>
        <li class="list-group-item">Furniture trailer</li>
        <li class="list-group-item">Double horse float</li>
        <li class="list-group-item">Safety caged trailer</li>
        <li class="list-group-item">S/S spit roast trailer</li>
      </ul><br>

    </div>

  </div>
  <!-- /.row -->
  <!-- /.row -->
</div>
{% include footer.html %}
<!-- /.container -->

<!-- Footer -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>